pytest
langchain
langgraph
langchain_community
langchain_openai 
langchain_groq
langchain_google_genai
ipykernel
python-dotenv
fastapi
uvicorn
sentence-transformers
langchain-pinecone
pinecone
langchain-tavily
asyncpg
psycopg[binary,pool]